{% extends "base.html" %}
{% block content %}

    {% load staticfiles %}
    {% static "" as baseUrl %}
    <div class="row">
        {% for key, value in emotions %}
            <div class="col-md-4">
                <div class="card hovercard">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <a href="/emotion/{{ key }}/" ><img alt="" src="{{ baseUrl }}img/{{ value}}.png"></a>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="/emotion/{{ key }}/" >{{ value }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}