[Unit]
Description=uWSGI instance to serve Hirention

[Service]
ExecStart=/bin/bash -c 'su prism; cd /home/prism/prod/Hirention; source .env/bin/activate; uwsgi --memory-report --enable-threads --ini hiren.ini'
ExecReload=/bin/bash -c 'su prism; cd /home/prism/prod/Hirention; source .env/bin/activate; uwsgi --reload /run/Hirention.pid'
ExecStop=/bin/bash -c ''su prism; cd /home/prism/prod/Hirention; source .env/bin/activate; uwsgi --stop /run/Hirention.pid'

[Install]
WantedBy=multi-user.target